<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839571110220-i3jkokt6qsu304gd2c3d7poo925d38m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839571110220-i3jkokt6qsu304gd2c3d7poo925d38m8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839571110220-rafi3blmgatsqhaje7qlhpitjsgpj33m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_TS3KVQGU2iO1cgC2BRAYiCS-ShvvBgc</string>
	<key>GCM_SENDER_ID</key>
	<string>839571110220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tin.bully</string>
	<key>PROJECT_ID</key>
	<string>react-native-template-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-template-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839571110220:ios:759067a6fc5439b332b7e9</string>
</dict>
</plist>