<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Bully</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.934038760723-el9m52josgc2sfpv0358pvklos7gojca</string>
					<string>fb886668989781002</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>Firebase Deep Links</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>reactnativefirebase.page.link</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.839571110220-i3jkokt6qsu304gd2c3d7poo925d38m8</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>CodePushDeploymentKey</key>
		<string>HIfFXcXeX_wDGDayx7ldrrHev-fFpVGxuWorw</string>
		<key>FacebookAppID</key>
		<string>886668989781002</string>
		<key>FacebookClientToken</key>
		<string>951b0f919ed64d86123fbcb382093883</string>
		<key>FacebookDisplayName</key>
		<string>React Native Template DEV</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fb-messenger-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<!-- 🚨 Keep only the permissions used in your app 🚨 -->
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>It is necessary to share files between devices</string>
		<key>NSCalendarsUsageDescription</key>
		<string>Access to your gallery is needed to be able to change your profile picture.</string>
		<key>NSCameraUsageDescription</key>
		<string>Access to your camera to take a photo.</string>
		<key>NSContactsUsageDescription</key>
		<string>Access to your gallery is needed to be able to send messages.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>It is necessary to know your location to keep statistics in the countries where the
			ticket is scanned.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>It is necessary to know your location to keep statistics in the countries where the
			ticket is scanned.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>It is necessary to know your location to keep statistics in the countries where the
			ticket is scanned.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Access to your gallery is needed to be able to change your profile picture.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Access to your gallery is needed to be able to change your profile picture.</string>
		<key>UIAppFonts</key>
		<array>
			<string>AntDesign.ttf</string>
			<string>Entypo.ttf</string>
			<string>EvilIcons.ttf</string>
			<string>Feather.ttf</string>
			<string>FontAwesome.ttf</string>
			<string>FontAwesome5_Brands.ttf</string>
			<string>FontAwesome5_Regular.ttf</string>
			<string>FontAwesome5_Solid.ttf</string>
			<string>Fontisto.ttf</string>
			<string>Foundation.ttf</string>
			<string>Ionicons.ttf</string>
			<string>MaterialCommunityIcons.ttf</string>
			<string>MaterialIcons.ttf</string>
			<string>Octicons.ttf</string>
			<string>SimpleLineIcons.ttf</string>
			<string>Zocial.ttf</string>
			<string>Quicksand_Bold.ttf</string>
			<string>Quicksand_Light.ttf</string>
			<string>Quicksand_Medium.ttf</string>
			<string>Quicksand_Regular.ttf</string>
			<string>Quicksand_SemiBold.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>BootSplash.storyboard</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false />
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>
