@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*****************************************************************
    SHADCN UI VARIABLES
    *****************************************************************/
    --background: 0 5% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;

    /*****************************************************************
    CKEDITOR VARIABLES
    *****************************************************************/
    --ck-custom-background: hsl(var(--background)) !important;
    --ck-custom-foreground: hsl(var(--foreground)) !important;
    --ck-custom-card: hsl(var(--card)) !important;
    --ck-custom-card-foreground: hsl(var(--card-foreground)) !important;
    --ck-custom-border: hsl(var(--border)) !important;
    --ck-custom-input: hsl(var(--input)) !important;
    --ck-custom-primary: hsl(var(--primary)) !important;
    --ck-custom-primary-foreground: hsl(var(--primary-foreground)) !important;
    --ck-custom-accent: hsl(var(--accent)) !important;
    --ck-custom-accent-foreground: hsl(var(--accent-foreground)) !important;
    --ck-custom-ring: hsl(var(--ring)) !important;
    --ck-custom-radius: hsl(var(--radius)) !important;
    --ck-custom-white: hsl(0, 0%, 100%) !important;
    /* -- Overrides generic colors. ------------------------------------------------------------- */
    --ck-color-base-border: var(--ck-custom-border) !important;
    --ck-color-base-background: var(--ck-custom-background) !important;
    --ck-color-base-foreground: var(--ck-custom-foreground) !important;
    --ck-color-focus-border: var(--ck-custom-primary) !important;
    --ck-color-text: var(--ck-custom-foreground) !important;
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2) !important;
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1) !important;
    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */
    --ck-color-button-default-background: var(--ck-custom-background) !important;
    --ck-color-button-default-hover-background: var(--ck-custom-background) !important;
    --ck-color-button-default-active-background: var(--ck-custom-background) !important;
    --ck-color-button-default-active-shadow: var(--ck-custom-background) !important;
    --ck-color-button-default-disabled-background: var(--ck-custom-background) !important;
    --ck-color-button-on-background: var(--ck-custom-card) !important;
    --ck-color-button-on-hover-background: var(--ck-custom-accent) !important;
    --ck-color-button-on-active-background: var(--ck-custom-accent) !important;
    --ck-color-button-on-active-shadow: var(--ck-custom-accent) !important;
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground) !important;
    --ck-color-button-on-color: var(--ck-custom-primary) !important;
    --ck-color-button-action-background: hsl(168, 76%, 42%) !important;
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%) !important;
    --ck-color-button-action-active-background: hsl(168, 76%, 36%) !important;
    --ck-color-button-action-active-shadow: hsl(168, 75%, 34%) !important;
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%) !important;
    --ck-color-button-action-text: var(--ck-custom-white) !important;
    --ck-color-button-save: hsl(120, 100%, 46%) !important;
    --ck-color-button-cancel: hsl(15, 100%, 56%) !important;
    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */
    --ck-color-dropdown-panel-background: var(--ck-custom-background) !important;
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground) !important;
    /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */
    --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background) !important;
    --ck-color-split-button-hover-border: var(--ck-custom-foreground) !important;
    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */
    --ck-color-input-background: var(--ck-custom-background) !important;
    --ck-color-input-border: hsl(257, 3%, 43%) !important;
    --ck-color-input-text: hsl(0, 0%, 98%) !important;
    --ck-color-input-disabled-background: hsl(255, 4%, 21%) !important;
    --ck-color-input-disabled-border: hsl(250, 3%, 38%) !important;
    --ck-color-input-disabled-text: hsl(0, 0%, 78%) !important;
    /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */
    --ck-color-labeled-field-label-background: var(--ck-custom-background) !important;
    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */
    --ck-color-list-background: var(--ck-custom-background) !important;
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground) !important;
    --ck-color-list-button-on-background: var(--ck-custom-card) !important;
    --ck-color-list-button-on-background-focus: var(--ck-custom-card) !important;
    --ck-color-list-button-on-text: var(--ck-color-base-background) !important;
    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */
    --ck-color-panel-background: var(--ck-custom-background) !important;
    --ck-color-panel-border: var(--ck-custom-border) !important;
    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */
    --ck-color-toolbar-background: var(--ck-custom-background) !important;
    --ck-color-toolbar-border: var(--ck-custom-border) !important;
    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */
    --ck-color-tooltip-background: hsl(252, 7%, 14%) !important;
    --ck-color-tooltip-text: hsl(0, 0%, 93%) !important;
    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */
    --ck-color-image-caption-background: hsl(0, 0%, 97%) !important;
    --ck-color-image-caption-text: hsl(0, 0%, 20%) !important;
    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */
    --ck-color-widget-blurred-border: hsl(0, 0%, 87%) !important;
    --ck-color-widget-hover-border: hsl(43, 100%, 68%) !important;
    --ck-color-widget-editable-focus-background: var(--ck-custom-white) !important;
    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */
    --ck-color-link-default: hsl(190, 100%, 75%) !important;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    &.no-scroll {
      @apply fixed left-0 top-0 h-full w-full overflow-hidden;
    }
  }
}

@layer base {
  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  /*****************************************************************
  CUSTOM SCROLLBAR
  *****************************************************************/
  .scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
      @apply h-2 w-2;
    }
    &::-webkit-scrollbar-track {
      @apply bg-card rounded;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-primary rounded;
    }
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-primary;
    }
    &.scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }
    &.scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
  }
  .scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      @apply h-0 w-0;
    }
  }
  /*****************************************************************
  CKEDITOR
  *****************************************************************/
  .ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
    flex-wrap: wrap !important;
  }
  /* .ck-source-editing-area textarea {
    @apply bg-background text-sm #{!important};
  } */
  .prose .image-style-align-left,
  .prose .image-style-align-right {
    clear: none;
  }
  .prose .image-style-align-left {
    @apply float-left mr-3.5;
  }
  .prose .image-style-align-center {
    @apply ml-auto mr-auto;
  }
  .prose .image-style-align-right {
    @apply float-right ml-3.5;
  }
  .prose .image-inline {
    @apply inline-flex max-w-full items-start;
  }
  .prose .image-style-block-align-right {
    @apply ml-auto mr-0;
  }
  .prose .image-style-block-align-right {
    @apply ml-0 mr-auto;
  }
}
